{% extends "base.html" %}
{% load static ‰}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mb-3">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="mb-3 mt-1">Shopping Cart</h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% if cart_items %}
            <div class="table-responsive rounded">
                <table class="table table-sm table-borderless">
                    <thead class="text-black">
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col"></th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                    </thead>

                    {% for item in cart_items %}
                    <tr>
                        <td class="p-2 w-25">
                            {% if item.product.image %}
                            <img class="img-fluid rounded" src="{{ item.product.image.url }}">
                            {% else %}
                            <img class="img-fluid rounded" src="/media/no_image.jpg">
                            {% endif %}
                        </td>
                        <td class="py-2 w-50">
                            <p class="my-0 font-weight-bold">{{ item.product.name }}</p>
                            {% if item.option %}
                            {{ item.option|title }}
                            {% endif %}
                            </p>
                            <p class="my-1 text-muted">{{ item.product.description }}</p>
                        </td>
                        <td class="py-2">
                            <p class="my-0">€{{ item.product.price }}</p>
                        </td>
                        <td class="py-2 w-30">
                            <form class="form update-form" method="POST" action="{% url 'adjust_cart' item.item_id%}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend qty-controls">
                                            <button class="decrement-qty btn btn-black rounded-0 btn-sm"
                                                data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                <span><i class="fa-solid fa-minus"></i></span>
                                            </button>
                                        </div>
                                        <input class="form-control form-control-sm qty_input" type="number"
                                            name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                            data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                        <div class="input-group-append qty-controls">
                                            <button class="increment-qty btn btn-black rounded-0 btn-sm"
                                                data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                <span><i class="fa-solid fa-plus"></i></span>
                                            </button>
                                        </div>
                                        {% if item.product.options %}
                                            <input type="hidden" name="product_option" value="{{ item.options }}">
                                        {% endif%}
                                    </div>
                                    <div class="d-flex flex-column text-center mt-2">
                                        <a class="remove-item text-danger d-block mb-1" id="remove_{{ item.item_id }}"
                                            data-option="{{ item.option }}">
                                            <small>Remove</small>
                                        </a>
                                        <a class="update-link text-info text-black d-block"><small>Recalculate</small></a>
                                    </div>
                        </td>
                        <td class="py-2">
                            <p class="my-0">€{{ item.item_total }}</p>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5" class="pt-5 text-right">
                            <h6><strong>Subtotal: €{{ subtotal|floatformat:2 }}</strong></h6>
                            {% if free_tote_bag_difference > 0 %}
                            <p class="mb-1 text-danger">
                                Free tote bag if you spend <strong>€{{ free_tote_bag_difference }}</strong> more!
                            </p>
                            {% else %}
                            <p class="mb-1 text-danger">
                                Free tote bag included!
                            </p>
                            {% endif %}
                            {% if free_delivery_difference > 0 %}
                            <h6>Delivery: €{{ delivery_charge|floatformat:2 }}</h6>
                            <p class="mb-1 text-danger">
                                Free delivery if you spend <strong>€{{ free_delivery_difference }}</strong> more!
                            </p>
                            {% else %}
                            <p class="mb-1 text-danger">
                                Free delivery!
                            </p>
                            {% endif %}
                            <h4 class="mt-4"><strong>Total: €{{ total|floatformat:2 }}</strong></h4>

                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-right">
                            <a href="{% url 'products' %}" class="btn btn-black rounded-0 btn-lg">
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <a href="" class="btn btn-black rounded-0 btn-lg">
                                <span class="text-uppercase">Secure Checkout</span>
                                <span class="icon">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            {% else %}
            <p class="lead mb-5">Your cart is empty.</p>
            <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                <span
                    class="p-2 mt-2 badge badge-white text-black rounded-0 border-0 background-color-4 border-dark">Keep
                    Shopping</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block postload_js%}

{{ block.super}}

{% include "products/includes/quantity_script.html" %}

<script type="text/javascript">
    // Recalculate subtotal when clicking the update link
$('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })


    // Remove item from cart and reload page
    $('.remove-item').click(function (e) {
        console.log("POINT 4")
        var csrfToken = "{{ csrf_token }}";
        console.log()
        console.log("csrfToken: ")
        console.log(csrfToken)
        console.log()

        var itemId = $(this).attr('id');
        console.log("Retrieved ID: ", itemId); // Check what ID is retrieved

        // Extract the actual item ID by splitting
        itemId = itemId.split('remove_')[1]; // Now get the part after 'remove_'
        console.log("itemId after split: ", itemId); // Log after splitting

        var option = $(this).data('option');
        console.log()
        console.log("option: ")
        console.log(option)
        console.log()

        console.log("this")
        console.log((this))

        var url = `/cart/remove/${itemId}/`;
        console.log()
        console.log("url: ")
        console.log(url)
        console.log()

        var data = {
            'csrfmiddlewaretoken': csrfToken,
            'option': option
        };
        console.log()
        console.log("data: ")
        console.log(data)
        console.log()

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>

{% endblock %}