<script type="text/javascript">

    console.log("POINT 1")

    // Disable buttons for invalid quantities
    function enableDisable(itemId) {
        console.log("POINT 2")
        var currentValue = parseInt($(`#id_qty_${itemId}`).val());
        var minusDisabled = currentValue <= 1;
        var plusDisabled = currentValue >= 99;
        $(`#decrement-qty_${itemId}`).prop('disabled', minusDisabled);
        $(`#increment-qty_${itemId}`).prop('disabled', plusDisabled);
    }

    // All inputs disabled on page load
    var allInputs = $('.qty_input');
    for(var i = 0; i < allInputs.length; i++){
        var itemId = $(allInputs[i]).data('item_id');
        enableDisable(itemId);
    }

    // Rerun checks every time quantity is altered
    $('.qty_input').change(function() {
        var itemId = $(this).data('item_id');
        enableDisable(itemId);
    });

    // Increase quantity by 1
    $('.increment-qty').click(function(e) {
       e.preventDefault();
       var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
       var currentValue = parseInt($(closestInput).val());
       $(closestInput).val(currentValue + 1);
       var itemId = $(this).data('item_id');
       enableDisable(itemId);
    });

    // Decrease quantity by 1
    $('.decrement-qty').click(function(e) {
       e.preventDefault();
       var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
       var currentValue = parseInt($(closestInput).val());
       $(closestInput).val(currentValue - 1);
       var itemId = $(this).data('item_id');
       enableDisable(itemId);
    });
</script>