{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container text-black">
        <div class="row">
            <div class="col text-black">
                <hr>
                <h2 class="mb-4 font-weight-bold">Order Confirmation</h2>
                <hr>
                <p>Please see details of your order below.</p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-12 col-lg-7">
                <div class="row">
                    <div class="col">
                        <h3 class="text-black">Order Info:</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <h4 class="mb-0 text-black mt-3">Order Number</h4>
                    </div>
                    <div class="col-12 col-md-8 text-md-right mt-3">
                        <h5 class="mb-0">{{ order.order_number }}</h5>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <h4 class="text-black mt-3">Order Details:</h4>
                    </div>
                </div>

                {% for item in order.order_items %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <h5 class="small my-2 text-black font-weight-bold">
                            {{ item.item_id|get_product_name }}{% if item.option %} - {{ item.option|title }}{% endif %}
                        </h5>
                    </div>
                    <div class="col-12 col-md-4 my-2 text-md-center">
                        <h5 class="small mb-0">Quantity: {{ item.quantity }}</h5>
                    </div>
                    <div class="col-12 col-md-4 my-2 text-md-right">
                        <h5 class="small mb-0">Price: €{{ item.price }}</h5>
                    </div>
                </div>
                {% endfor %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <h4 class="small my-2 text-black font-weight-bold">
                            Subtotal: €{{ order.total_product_cost }}
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <h4 class="small my-2 text-black font-weight-bold">
                            Delivery: €{{ order.delivery_charge }}
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <h4 class="small my-2 text-black font-weight-bold">
                            Total: €{{ order.total_order_cost }}
                        </h4>
                    </div>
                </div>
                <div>
                    <div class="col-12 col-md-6">
                        <h4 class="small my-2 text-black font-weight-bold">
                            Total CO2 Footprint: {{ order.total_co2_footprint }} kg
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h4 class="text-black my-2">Delivering To:</h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black font-weight-bold">{{ order.name }}</p>
                        <p class="mb-0 text-black">{{ order.address_1 }}</p>
                        {% if order.address_2 %}
                            <p class="mb-0 text-black">{{ order.address_2 }}</p>
                        {% endif %}
                        <p class="mb-0 text-black">{{ order.city }}</p>
                        {% if order.county %}
                            <p class="mb-0 text-black">{{ order.county }}</p>
                        {% endif %}
                        {% if order.post_code %}
                            <p class="mb-0 text-black">{{ order.post_code }}</p>
                        {% endif %}
                        <p class="mb-0 text-black">{{ order.country }}</p>
                    </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-7 text-right">
            <a href="{% url 'home' %}" class="btn btn-black rounded-0 my-2">
                <span class="icon mr-2">
                    <i class="fas fa-home"></i>
                </span>
                <span class="text-uppercase">Return to Home</span>
            </a>
        </div>
    </div>
{% endblock %}
