/* Set colour palette as variables */
:root {
    --color-1: #82A67D; /* Background Green */
    --color-2: #4E7D48; /* Button Green */
    --color-3: #154C0E; /* Intense Green */
    --color-4: #BFA689; /* Pale Brown */
    --color-5: #8A704F; /* Darker Brown */
}

/* Class to apply colour scheme colours */
.text-color-1 {
    color: var(--color-1);
}
  
.text-color-2 {
color: var(--color-2);
}

.text-color-3 {
color: var(--color-3);
}

.text-color-4 {
color: var(--color-4);
}

.text-color-5 {
color: var(--color-5);
}

.background-color-1 {
    background-color: var(--color-1);
}

.background-color-2 {
    background-color: var(--color-2);
}

.background-color-3 {
    background-color: var(--color-3);
}

.background-color-4 {
    background-color: var(--color-4);
}

.background-color-5 {
    background-color: var(--color-5);
}


html {
    height: 100%;
}

body {
    background: url('/media/background_large.jpg') no-repeat center center fixed;
    /* background-color: var(--color-1); */
    background-size: cover;
    height: calc(100vh - 160px);
    color: var(--color-1);
    font-family: 'roboto';
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* .logo-font {
    text-transform: uppercase;
} */

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: var(--color-2);
    color: var(--color-4);
    min-width: 260px;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: var(--color-3);
    color:  var(--color-4);
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

/* Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and larger devices */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 160px;
    }
}

