/* Set colour palette as variables */
:root {
    --color-1: #82A67D; /* Background Green */
    --color-2: #4E7D48; /* Button Green */
    --color-3: #154C0E; /* Intense Green */
    --color-4: #BFA689; /* Pale Brown */
    --color-5: #8A704F; /* Darker Brown */
}

/* Class to apply colour scheme colours */
.text-color-1 {
    color: var(--color-1);
}
  
.text-color-2 {
color: var(--color-2);
}

.text-color-3 {
color: var(--color-3);
}

.text-color-4 {
color: var(--color-4);
}

.text-color-5 {
color: var(--color-5);
}

.background-color-1 {
    background-color: var(--color-1);
}

.background-color-2 {
    background-color: var(--color-2);
}

.background-color-3 {
    background-color: var(--color-3);
}

.background-color-4 {
    background-color: var(--color-4);
}

.background-color-5 {
    background-color: var(--color-5);
}


html {
    height: 100%;
}

body {
    background: url('/media/background_image.jpg') no-repeat center center fixed;
    /* background-color: var(--color-1); */
    background-size: cover;
    height: calc(100vh - 160px);
    color: var(--color-1);
    font-family: 'roboto';
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.main-logo-link {
    width: fit-content;
}

.update-link,
.remove-link {
    cursor: pointer;
}

.shop-now-button {
    background: var(--color-2);
    color: var(--color-4);
    min-width: 260px;
    font-size: 150%;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: var(--color-3);
    color:  var(--color-4);
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	z-index: -1;
}

.message-container {
    position: fixed;
    right: 20px;
    top: 80px;
    z-index: 100000;
}

.toast-capper {
    height: 3px
}

/* Custom width classes */

.w-10 {
    width: 10%
}

.w-15 {
    width: 15%
}

.w-20 {
    width: 20%
}

.w-30 {
    width: 30%
}

.w-40 {
    width: 40%
}



/* Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and larger devices */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* padding on top when on mobile device */

@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}


@media (max-width: 500px) {
    .qty-controls {
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    .qty_input {
        margin-bottom: 10px;
    }

    .d-flex {
        flex-direction: column;
    }
}

@media (max-width: 382px) {
    .header-container {
        padding-top: 180px;
    }

    body {
        height: calc(100vh - 116px);
    }
}