<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold text-black nav-link mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0 background-color-5" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item text-black">By Price</a>
                <a href="" class="dropdown-item text-black ">By Rating</a>
                <a href="" class="dropdown-item text-black ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item text-black">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold text-black nav-link mr-5" href="#" id="first-category-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                First Category
            </a>
            <div class="dropdown-menu border-0 background-color-5" aria-labelledby="first-category-link">
                <a href="" class="dropdown-item text-black">First 1st</a>
                <a href="" class="dropdown-item text-black">First 2nd</a>
                <a href="" class="dropdown-item text-black">First 3rd</a>
                <a href="" class="dropdown-item text-black">First 4th</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold text-black nav-link mr-5" href="#" id="second-category-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Second Category
            </a>
            <div class="dropdown-menu border-0 background-color-5" aria-labelledby="homeware-link">
                <a href="" class="dropdown-item text-black">Second 1st</a>
                <a href="" class="dropdown-item text-black">Second 2nd</a>
                <a href="" class="dropdown-item text-black">Second 3rd</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold text-black nav-link" href="#" id="third-category-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Third Category
            </a>
            <div class="dropdown-menu border-0 background-color-5" aria-labelledby="specials-link">
                <a href="" class="dropdown-item text-black">Third 1st</a>
                <a href="" class="dropdown-item text-black">Third 2nd</a>
            </div>
        </li>
    </ul>
</div>