{% extends "base.html" %}
{% load static %}
{% load allauth %}
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container mt-5 pt-5 text-black">
        <h1>Sign In</h1>
        <p>If you have not created an account yet, then please <a href="{{ signup_url }}">sign up</a> first.</p>
        {% url 'account_login' as login_url %}
        <form method="post" action="{{ login_url }}">
            {% csrf_token %}
            {{ redirect_field }}
            <div class="form-group">
                {% for field in form %}
                    {% if field.name == 'remember' %}
                        <div class="mb-3 form-check">
                            {{ field }}
                            {{ field.label_tag }}
                        </div>
                    {% else %}
                        <div class="mb-3">
                            {{ field.label_tag }}
                            {{ field }}
                            {% if field.errors %}
                                <div class="invalid-feedback d-block">
                                    {% for error in field.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-black rounded-0 text-uppercase mt-2 font-weight-bold">
                Sign In
            </button>
        </form>
    </div>
{% endblock content %}