
 {% extends "base.html" %}
{% load static %}
{% load allauth i18n %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container mt-5 pt-5 text-black">
        <h1>{% trans "Sign Up" %}</h1>
        <p>
            {% blocktranslate %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktranslate %}
        </p>

        {% url 'account_signup' as action_url %}
        <form method="post" action="{{ action_url }}">
            {% csrf_token %}
            {{ redirect_field }}

            <div class="form-group">
                {% element fields form=form unlabeled=True %}
                {% endelement %}
            </div>

            <button type="submit" class="btn btn-black rounded-0 text-uppercase mt-2 font-weight-bold">
                Sign Up
            </button>
        </form>
    </div>
{% endblock content %}
