{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container my-5">

    <h2 class="text-center text-black my-5">Product Management</h2>

    <div class="d-flex justify-content-center">
        <a href="{% url 'add_product' %}" class="text-center shop-now-button btn btn-large text-white font-weight-bold my-5">
            Add new product
        </a>
    </div>
    
</div>
<div class="mx-5">
    <h3 class="text-black">Existing Products</h3>
<table class="table background-color-4">
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.price }} €</td>
                <td>
                    <a href="{% url 'view_product' product.id %}" class="btn btn-info">View</a>
                    <a href="{% url 'edit_product' product.id %}" class="btn btn-warning">Edit</a>
                    <a href="{% url 'delete_product' product.id %}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
